.topo > h1 {
    font-family: helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.topo {
    background-image: src=url("Img/pattern.jpg");
}

h2 {
    font-family: helvetica;
    font-size: 33px;
    font-weight: bold;
    color: white;   
}

.brushes > h2 {
    background-color:mediumspringgreen ;
}
.frames > h2 {
    background-color:lightcoral;
}
.paint > h2 {
    background-color:skyblue;
}
.spanblue {
    font-family: helvetica;
    font-weight: bold;
    color: blue;   
}